<%- include("partials/header") -%>
<%- include("partials/nav_bar") -%>
    <div>
        <form action="/staff_work/getbystateFlights" method="post">
            <label>Details of Flights by State</label>
            <select id="state" name="state">
                <option selected disabled>--Choose one--</option>
                <%
                var state = [ "Scheduled", "Departed-On-Time", "Delayed-Departure", "Landed", "Cancelled" ];
                for ( let i = 0; i < state.length; i++ )
                {
                    var selected = formData.state;
                    %><option value="<%=state[i] %>" <%=selected %>><%=state[i] %></option><%
                }
                %>
            </select>
            <button type="submit">Get Flight Details</button>
            <table>
                <tr>
                    <th>Flight Schedule ID</th>
                    <th>Aircraft ID</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Duration</th>
                    <th>Origin</th>
                    <th>Destination</th>
                </tr>
                <% if (data.arrivalflights.length > 0) { %>
                <h3>Flight Details</h3>
                <% for (let i = 0; i < data.arrivalflights.length; i++) { %>
                    <tr>
                        <td><%= data.arrivalflights[i].flight_id %></td>
                        <td><%= data.arrivalflights[i].aircraft_id %></td>
                        <td><%= data.arrivalflights[i].departure_date %></td>
                        <td><%= data.arrivalflights[i].departure_time %></td>
                        <td><%= data.arrivalflights[i].arrival_date %></td>
                        <td><%= data.arrivalflights[i].arrival_time %></td>
                        <td><%= data.arrivalflights[i].duration.hours%>Hours<%= data.arrivalflights[i].duration.minutes%>mins</td>
                        <td><%= data.arrivalflights[i].origin %></td>
                        <td><%= data.arrivalflights[i].destination %></td>
                    </tr>
                <% }} %>
            </table>
        </form>
    </div>
    <div>
        <h3>Update Flight Status</h3>
        <form action="/staff_work/updateflightstatus" method="post">
            <label for="name">Flight ID</label>
                <input type="text" name="flight_id" id="flight_id" required value=<%=formData.flight_id%>>
            <label for="name">Update state</label>
            <select id="flight_id" name="flight_id">
                <option selected disabled>--Choose one--</option>
                <%
                var Flight_Status = [ "Scheduled", "Departed-On-Time", "Delayed-Departure", "Landed", "Cancelled" ];
                for ( let i = 0; i < Flight_Status.length; i++ )
                {
                    var selected = formData.Flight_Status;
                    %><option value="<%=Flight_Status[i] %>" <%=selected %>><%=Flight_Status[i] %></option><%
                }
                %>
            </select>
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <h3>Add Plane</h3>
        <form action="/staff_work/addnewplanetype" method="post">
            <label for="name">Model Name</label>
                <input type="text" name="model_name" id="model_name" required value=<%=formData.model_name%>>
            <label for="name">variant </label>
                <input type="text" name="variant" id="variant" required value=<%=formData.variant%>>
            <label for="name">manufacturer</label>
                <input type="text" name="manufacturer" id="manufacturer" required value=<%=formData.manufacturer%>>
            <label for="name">Economy_Seat_Capacity</label>
                <input type="text" name="economy_seat_capacity" id="economy_seat_capacity" required value=<%=formData.economy_seat_capacity%>>
            <label for="name">business_seat_capacity</label>
                <input type="text" name="business_seat_capacity" id="business_seat_capacity" required value=<%=formData.business_seat_capacity%>>
            <label for="name">platinum_seat_capacity</label>
                <input type="text" name="platinum_seat_capacity" id="platinum_seat_capacity" required value=<%=formData.platinum_seat_capacity%>>
            <label for="name">e_seats_per_row</label>
                <input type="text" name="e_seats_per_row" id="e_seats_per_row" required value=<%=formData.e_seats_per_row%>>
            <label for="name">b_seats_per_row</label>
                <input type="text" name="b_seats_per_row" id="b_seats_per_row" required value=<%=formData.b_seats_per_row%>>
            <label for="name">p_seats_per_row</label>
                <input type="text" name="p_seats_per_row" id="p_seats_per_row" required value=<%=formData.p_seats_per_row%>>
            <label for="name">max_load</label>
                <input type="text" name="max_load" id="max_load" required value=<%=formData.max_load%>>
            <label for="name">fuel_capacity</label>
                <input type="text" name="fuel_capacity" id="fuel_capacity" required value=<%=formData.fuel_capacity%>>
            <button type="submit">Add Plane</button>
        </form>
    </div>

    
    <div>
        <h3>ADD Flight Instance</h3>
        <form action="/staff_work/addnewaircraftinstance" method="post">
            <label for="name">Aircraft_ID</label>
            <input type="text" name="Aircraft_ID" id="Aircraft_ID" required value=<%=formData.Aircraft_ID%>>
            <label for="name">Model_ID</label>
            <input type="text" name="Model_ID" id="Model_ID" required value=<%=formData.Model_ID%>>
            <label for="name">Airline_Name</label>
            <input type="text" name="Airline_Name" id="Airline_Name" required value=<%=formData.Airline_Name%>>
            <label for="name">Aircraft_Status</label>
            <select id="Aircraft_Status" name="Aircraft_Status">
                <option selected disabled>--Choose one--</option>
                <%
                var Aircraft_Status = [ "On-Ground", "In-Air" ];
                for ( let i = 0; i < Aircraft_Status.length; i++ )
                {
                    var selected = formData.Aircraft_Status;
                    %><option value="<%=Aircraft_Status[i] %>" <%=selected %>><%=Aircraft_Status[i] %></option><%
                }
                %>
            </select>
            <br>
            <br>
            <label for="name">Maintenance_Date</label>
            <input type="date" name="Maintenance_Date" id="Maintenance_Date" required value=<%=formData.Maintenance_Date%>>
            <label for="name">Purchase_Date</label>
            <input type="date" name="Purchase_Date" id="Purchase_Date" required value=<%=formData.Purchase_Date%>>
            <br>
            <br>
            <button type="submit">Add Flight Instance</button>
        </form>
    </div>



<%- include("partials/footer") -%>