<%- include ('partials/header') %>
<%- include ('partials/nav_bar') %>
<h1 class="HeadTitle ">User Dashboard</h1>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    .HeadTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

.HeadTitle:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}
</style>
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/userDashboard.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <% console.log(sampleData); %>
<div class="userDetails">
    <% if(sampleData!== 'undefined') { %>
            
            <section class="container emp-profile">
                        <form method="post">
                            <section class="row">
                                <section class="col-md-4">
                                    <section class="profile-img">
                                        <img src="images\placeholder_image.png" alt=""/>
                                        <section class="file btn btn-lg btn-primary">
                                            Change Photo
                                            <input type="file" name="file"/>
                                        </section>
                                    </section>
                                </section>
                                <section class="col-md-6">
                                    <section class="profile-head">
                                                <h5>
                                                    <%= sampleData.first_name %> <%= sampleData.last_name %> 
                                                </h5>
                                                <h6>
                                                    <%= sampleData.email %>
                                                </h6>
                                                <p class="proile-rating">BOOKINGS : <span><%= sampleData.no_of_bookings %></span></p>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" sampleData-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                            </li>
                                            

                                        </ul>
                                    </section>
                                </section>

                            </section>
                            <section class="row">
                                <section class="col-md-4">
                                    <section class="profile-work">
                                        <p>Contact info</p>
                                        <a><%= sampleData.mobile %></a><br/>
                                        <a><%= sampleData.email %></a><br/>
                                     
                                    <section class ="Links">
                                        <a href="/Search">Book a flight</a><br/>                                    
                                        <a href="/">Home</a><br/>
                                    </section>
                                    </section>
                                </section>
                                <section class="col-md-8">
                                    <section class="tab-content profile-tab" id="myTabContent">
                                        <section class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Full name</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= sampleData.first_name %> <%= sampleData.last_name %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Gender</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= sampleData.gender %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Date of birth</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= new Date(sampleData.dob).toLocaleDateString() %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Address</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= sampleData.address %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Country</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= sampleData.country %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Passport No</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= sampleData.passport_no %></p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Account created on</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p><%= new Date(sampleData.joined).toLocaleDateString() %></p>
                                                        </section>
                                                    </section>
                                        </section>
                                        <section class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Experience</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p>Expert</p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Hourly Rate</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p>10$/hr</p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Total Projects</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p>230</p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>English Level</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p>Expert</p>
                                                        </section>
                                                    </section>
                                                    <section class="row">
                                                        <section class="col-md-6">
                                                            <label>Availability</label>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <p>6 months</p>
                                                        </section>
                                                    </section>
                                            <section class="row">
                                                <section class="col-md-12">
                                                    <label>Your Bio</label><br/>
                                                    <p>Your detail description</p>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </form>           
                    </section>
            <section class ="imgBx"><%= sampleData.display_photo %></section>
            <section class = "name">


            </section>

    <% }else{%>
    <tr>        
        <td colspan="5">No Data Found</td>
    </tr>
    <% } %>      
</div>

<%- include ('partials/footer') %>